'name': 'Visualforce'
'scopeName': 'visualforce.text.xml'
'fileTypes': [
  'component'
  'page'
]
'patterns': [
  {
    'begin': '(?i)(?=<script(\\s+|>))'
    'end': '(</)((?i)script)(>)'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.tag.xml'
      '2':
        'name': 'entity.name.tag.script.xml'
      '3':
        'name': 'punctuation.definition.tag.xml'
    'name': 'meta.tag.script.xml'
    'patterns': [
      {
        'begin': '(?i)\\G(<)(script)'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.tag.xml'
          '2':
            'name': 'entity.name.tag.script.xml'
        'end': '>'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.tag.xml'
        'patterns': [
          {
            'include': '#tag-stuff'
          }
        ]
      }
      {
        'begin': '(?!\\G)'
        'end': '(?i)(?=</script>)'
        'name': 'source.js.embedded.xml'
        'patterns': [
          {
            'begin': '//'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.js'
            'end': '(?=(?i)</script>|$)'
            'name': 'comment.line.double-slash.js'
          }
          {
            'begin': '/\\*'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.begin.js'
            'end': '\\*/|(?=(?i)</script>)'
            'endCaptures':
              '0':
                'name': 'punctuation.definition.comment.begin.js'
            'name': 'comment.block.js'
          }
          {
            'include': 'source.js'
          }
        ]
      }
    ]
  }
  {
    'begin': '(?i)(?=<style(\\s+|>))'
    'end': '(?i)(</)(style)(>)'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.tag.xml'
      '2':
        'name': 'entity.name.tag.style.xml'
      '3':
        'name': 'punctuation.definition.tag.xml'
    'name': 'meta.tag.style.xml'
    'patterns': [
      {
        'begin': '(?i)\\G(<)(style)'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.tag.xml'
          '2':
            'name': 'entity.name.tag.style.xml'
        'end': '>'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.tag.xml'
        'patterns': [
          {
            'include': '#tag-stuff'
          }
        ]
      }
      {
        'begin': '(?!\\G)'
        'end': '(?i)(?=</style>)'
        'name': 'source.css.embedded.xml'
        'patterns': [
          {
            'include': '#embedded-code'
          }
          {
            'include': 'source.css'
          }
        ]
      }
    ]
  }
  { "include": "text.xml" },
]
